/* Contenedor de la lista de tarjetas */
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Espacio entre las tarjetas para mejorar el diseño */
  margin-bottom: 60px;
}

/* Estilo para el componente de la tarjeta */
app-hotel-card {
  flex: 1 1 calc(25% - 30px); /* Permite que las tarjetas se ajusten a 4 en una fila, con espacio entre ellas */
  margin-bottom: 20px; /* Margen inferior para separación entre filas */
  max-width: 100%; /* Asegura que la tarjeta no exceda el ancho disponible */
}

/* Ajuste para el contenedor de la tarjeta en pantallas pequeñas */
@media (max-width: 1200px) {
  app-hotel-card {
    flex: 1 1 calc(33.33% - 30px); /* Tres tarjetas en una fila */
  }
}

@media (max-width: 800px) {
  app-hotel-card {
    flex: 1 1 calc(50% - 30px); /* Dos tarjetas en una fila */
  }
}

@media (max-width: 500px) {
  app-hotel-card {
    flex: 1 1 100%; /* Una tarjeta por fila en pantallas pequeñas */
  }
}
